.game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  font-size: 30px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;

  margin-bottom: 20px;
}

.log {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}